<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="epicarchitect.breakbadhabits.habits.widget.android.HabitsAppWidgetConfigCreationActivity"
            android:exported="true"
            android:theme="@style/Activity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="epicarchitect.breakbadhabits.habits.widget.android.HabitsAppWidgetProvider"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habits_appwidget_metadata" />
        </receiver>

        <service
            android:name="epicarchitect.breakbadhabits.habits.widget.android.HabitsAppWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>
</manifest>